

.Pricess {
  min-width: 110px;
  padding-right: 0px;
}

.table-logos {
  min-width: 120px;

}

#BTC-Logo{
    border: 2px solid transparent;
    border-radius: 45px;
}

#BTC-Logo:hover{
    border: 2px solid;
    border-radius: 45px;
    border-color:  #00A74F;
    transition: .2s;
    cursor: pointer;

}

#LTC-Logo{
    border: 2px solid transparent;
    border-radius: 45px;
}

#LTC-Logo:hover{
    border: 2px solid;
    border-radius: 45px;
    border-color:  #646566;
    transition: .2s;
    cursor: pointer;
}

#ETH-Logo:hover{
    /*border-top: 2px solid;
    border-color: #646566;
    transform: scale(1.1);*/
    cursor: pointer;

    -webkit-filter: drop-shadow(2px 1px 0 blue)
                      drop-shadow(-1px -1px 0 blue);
      filter: drop-shadow(2px 1px 0 blue)
              drop-shadow(-1px -1px 0 blue);
}

#test {
  vertical-align: middle;
  margin-top: 15px;
}

#price-rows {
  vertical-align: middle;
}
.stat-cell {
  vertical-align: middle !important;
}

#ticker{
  margin-left: 5px;
  
}
