.Price-container {
/*    text-align: center; */
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #282c34;
}

#BTC-Socket-Logo{
    border: 2px solid transparent;
    border-radius: 45px;
    animation: App-logo-spin infinite 5s linear;
}

#BTC-Socket-Logo:hover{
    border: 2px solid;
    border-radius: 45px;
    border-color:  #00A74F;
    transition: .2s;
    cursor: pointer;
}
